<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dq.aquaranth.emp.mapper.EmpMapper">

    <select id="empFindAll" resultType="com.dq.aquaranth.emp.dto.EmpDTO">
        SELECT * FROM emp WHERE emp_no > 0
    </select>

    <select id="empFindById" resultType="com.dq.aquaranth.emp.dto.EmpDTO">
        SELECT * FROM emp WHERE emp_no = #{empNo}
    </select>

    <insert id="empInsert" parameterType="com.dq.aquaranth.emp.dto.EmpDTO">
        INSERT INTO emp (emp_name, username, password, gender, emp_phone, emp_address, emp_profile, email
        ,last_login_time, last_login_ip , last_retiredate)
        VALUES (#{empName}, #{username}, #{password}, #{gender}, #{empPhone}, #{empAddress}, #{empProfile}, #{email}
        ,#{lastLoginTime}, #{lastLoginIp} , #{lastRetiredate})
    </insert>

    <update id="empUpdate" parameterType="com.dq.aquaranth.emp.dto.EmpUpdateDTO">
        UPDATE emp SET emp_name = #{empName}, password = #{password}, gender = #{gender}
        ,emp_phone = #{empPhone}, emp_address = #{empAddress}, emp_profile = #{empProfile}
        ,email = #{email}, last_retiredate = #{lastRetiredate}
        WHERE emp_no = #{empNo}
    </update>

    <delete id="empDeleteById" parameterType="long">
        DELETE FROM emp WHERE emp_no = #{empNo};
    </delete>

    <select id="empCountAll" resultType="long">
        SELECT COUNT(emp_name) FROM emp WHERE emp_no > 0;
    </select>
    <select id="findByUsername" resultType="com.dq.aquaranth.emp.dto.EmpDTO">
        SELECT * FROM emp WHERE username = #{username}
    </select>

</mapper>
