<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dq.aquaranth.menu.mapper.MenuMapper">

    <select id="findAll" resultType="com.dq.aquaranth.menu.dto.response.MenuResponseDTO">
        SELECT *
        FROM menu
    </select>

    <select id="findByMenuNo" resultType="com.dq.aquaranth.menu.dto.response.MenuResponseDTO">
        SELECT *
        FROM menu
        WHERE menu_no = #{menuNo}
    </select>

    <select id="findByMenuCode" resultType="com.dq.aquaranth.menu.dto.response.MenuResponseDTO">
        SELECT *
        FROM menu
        WHERE menu_code = #{menuCode}
    </select>

    <delete id="delete">
        DELETE
        FROM menu
        WHERE menu_code = #{menuCode
        }
    </delete>

    <update id="update">
        UPDATE menu
        SET menu_name = #{menuName},
            menu_sort = #{menuSort},
            menu_use  = #{menuUse},
            icon_url  = #{menuUse}
        WHERE menu_no = #{menuNo}
    </update>


    <select id="findAllMenus" resultType="com.dq.aquaranth.menu.dto.response.MenuResponseDTO">
        WITH RECURSIVE CTE AS (SELECT menu_no,
                                      menu_name,
                                      icon_url,
                                      menu_sort,
                                      IFNULL(upper_menu_no, 0) AS upper_menu_no,
                                      menu_code                as URL,
                                      1                        AS depth,
                                      default_menu_code,
                                      menu_use,
                                      menu_code
                               FROM menu
                               WHERE IFNULL(upper_menu_no, 0) = 0
                               UNION ALL
                               SELECT m.menu_no,
                                      m.menu_name,
                                      m.icon_url,
                                      m.menu_sort,
                                      IFNULL(m.upper_menu_no, 0),
                                      concat(C.URL, '/', m.menu_code) AS id_path,
                                      1 + C.depth                     AS CLEVEL,
                                      m.default_menu_code,
                                      m.menu_use,
                                      m.menu_code
                               FROM menu m
                                        INNER JOIN CTE C ON C.menu_no = m.upper_menu_no)
        SELECT menu_no                  AS menu_no,
               menu_name                AS menu_name,
               icon_url,
               menu_sort,
               IFNULL(upper_menu_no, 0) AS upper_menu_no,
               URL,
               depth,
               default_menu_code,
               menu_use,
               menu_code
        FROM CTE
        ORDER BY URL
        ;
    </select>

    <select id="findMenusByLoginUsername" resultType="string">
        select distinct m.menu_code
        from (WITH RECURSIVE findMainOrga AS
                                 (select orga.orga_no, orga.upper_orga_no, orga.orga_type
                                  from orga
                                           inner join empMapping eM on orga.orga_no = eM.orga_no
                                           inner join emp e on eM.emp_no = e.emp_no
                                           join deptMapping d on orga.upper_orga_no = d.orga_no
                                  where username = #{username}
                                    and d.dept_main = true
                                  UNION ALL
                                  select o.orga_no, o.upper_orga_no, o.orga_type
                                  from findMainOrga f
                                           inner join orga o on f.upper_orga_no = o.orga_no)
              select f.orga_no, f.orga_type
              from findMainOrga f) as f
                 inner join orga_role o on o.orga_no = f.orga_no
                 inner join role_group rg on o.role_group_no = rg.role_group_no
                 join menu_role mr on rg.role_group_no = mr.role_group_no
                 join menu m on mr.menu_no = m.menu_no
        order by f.orga_type
    </select>
    <select id="findByUpperMenuNoIsNull" resultType="com.dq.aquaranth.menu.dto.response.MenuResponseDTO">

    </select>
    <select id="findMyUnderMenu" resultType="com.dq.aquaranth.menu.dto.response.MenuResponseDTO">

        select distinct m.menu_name, m.menu_code, f.orga_type
        from (WITH RECURSIVE findMainOrga AS
                                 (select orga.orga_no, orga.upper_orga_no, orga.orga_type
                                  from orga
                                           inner join empMapping eM on orga.orga_no = eM.orga_no
                                           inner join emp e on eM.emp_no = e.emp_no
                                           join deptMapping d on orga.upper_orga_no = d.orga_no
                                  where username = 'user02' and d.dept_main = true
                                  UNION ALL
                                  select o.orga_no, o.upper_orga_no, o.orga_type
                                  from findMainOrga f
                                           inner join orga o on f.upper_orga_no = o.orga_no)
              select f.orga_no, f.orga_type
              from findMainOrga f
             ) as f
                 inner join orga_role o on o.orga_no = f.orga_no
                 inner join role_group rg on o.role_group_no = rg.role_group_no
                 join menu_role mr on rg.role_group_no = mr.role_group_no
                 join menu m on mr.menu_no = m.menu_no
        order by f.orga_type
        ;

    </select>

</mapper>
