<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dq.aqaranth.domain.company.mapper.CompanyMapper">

    <!--회사코드, 회사명, 대표자명 출력-->
    <select id="companyList" resultType="com.dq.aquaranth.company.dto.CompanyListDTO">
        select company_no, company_name, owner_name, company_use from company;
    </select>

</mapper>
