<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dq.aquaranth.dept.mapper.TodoMapper">

    <select id="getOne" resultType="com.dq.aquaranth.dept.dto.TodoDTO">   <!-- resultType => 쿼리문 수행후 반환 타입이 String이나 객체 타입으로 반환할수 있도록 지정해줌 -->
        select * from tbl_todo where tno = #{tno}
    </select>

    <insert id="insert">
        insert into tbl_todo (title, author, memo) VALUES ( #{title}, #{author}, #{memo} )
        <selectKey resultType="long" keyProperty="tno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="delete">
        delete from tbl_todo where tno = #{tno};
    </delete>

    <update id="update">
        update tbl_todo
        set
            title = #{title},
            author = #{author},
            memo = #{memo}
        where tno = #{tno}
    </update>

    <select id="select" resultType="com.dq.aquaranth.dept.dto.TodoDTO">
        select * from tbl_todo
    </select>

</mapper>
