<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dq.aquaranth.userRole.mapper.UserRoleMapper">

    <select id="findCompany" resultType="com.dq.aquaranth.userRole.dto.UserRoleCompanyDTO">
        select company_no, company_name
        from company
        where company_no = #{companyNo}
    </select>

    <select id="findRoleGroupByCompanyName" resultType="com.dq.aquaranth.userRole.dto.UserRoleRoleGroupBasedListDTO">
        select role_group_no, role_group_name, company_name
        from role_group
        where role_group_use = true
        and company_name = #{companyName}
        <if test="roleGroupSearch != null">
            and role_group_name like concat('%', #{roleGroupSearch}, '%')
        </if>
    </select>
<!--

    <select id="findOrgaByRoleGroupNo" resultType="">
        SELECT o.company_no, c.company_name, o.dept_no, d.dept_name, o.emp_no, e.emp_name, e.username
        #      d.dept_rank #차후 직급 추가 시
        FROM (
        SELECT og.company_no, og.dept_no, og.emp_no
        #      	     , ogr.role_group_no, ogr.orga_no
        FROM orga_role ogr
        JOIN orga og ON og.orga_no = ogr.orga_no
        WHERE ogr.role_group_no = ${role_group_no}
        AND og.dept_no IS NOT NULL
        AND og.emp_no IS NOT NULL
        ) o
        LEFT JOIN company c ON c.company_no = o.company_no
        LEFT JOIN dept d ON d.dept_no = o.dept_no
        LEFT JOIN emp e ON e.emp_no = o.emp_no
        <if test="search != null">
            WHERE d.dept_name LIKE concat('%', ${search}, '%')
            OR e.emp_name LIKE CONCAT('%', ${search}, '%')
            OR e.username LIKE CONCAT('%', ${search}, '%')
            # OR d.dept_rank LIKE CONCAT('%', ${search}, '%')
        </if>
    </select>
-->

</mapper>
