<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dq.aquaranth.userRole.mapper.UserRoleMapper">

    <select id="findCompany" resultType="com.dq.aquaranth.userRole.dto.UserRoleCompanyDTO">
        select company_no, company_name
        from company
        where company_no = #{companyNo}
    </select>

    <select id="findRoleGroupByCompanyName" resultType="com.dq.aquaranth.userRole.dto.UserRoleRoleGroupBasedListDTO">
        select role_group_no, role_group_name, company_name
        from role_group
        where role_group_use = true
        and company_name = #{companyName}
        <if test="roleGroupSearch != null">
            and role_group_name like concat('%', #{roleGroupSearch}, '%')
        </if>
    </select>

    <select id="findOrgaByRoleGroupNo" resultType="com.dq.aquaranth.userRole.dto.UserRoleGroupBasedUserListDTO">
        SELECT em.orga_no em_orga_no
             , dt.orga_no dt_orga_no
             , c.orga_no com_orga_no
             , dt.dept_no
             , c.company_no
             , em.emp_no
             , em.emp_name
             , em.username
             , em.emp_rank
             , dt.dept_no
             , dt.dname
             , c.company_name
        FROM (
                SELECT d.dept_no, d.company_no, d.dname, d.dept_sort
                , o.orga_no, o.orga_type
                FROM tbl_dept d
                LEFT JOIN deptMapping dm ON dm.dept_no = d.dept_no
                LEFT JOIN orga o ON o.orga_no = dm.orga_no
                WHERE d.del_flag = FALSE
                AND d.main_flag = TRUE
                AND d.company_no = #{companyNo}  ## 회사 구분
        ) dt
        JOIN (
                SELECT e.emp_no, e.emp_name, e.username
                , em.emp_rank, o.upper_orga_no, o.orga_no
                FROM emp e
                LEFT JOIN empMapping em ON em.emp_no = e.emp_no
                LEFT JOIN orga o ON o.orga_no = em.orga_no
        ) em ON em.upper_orga_no = dt.orga_no
        JOIN company c ON c.company_no = dt.company_no AND c.company_use = TRUE
        WHERE em.upper_orga_no in (
                                    SELECT o.orga_no
                                    FROM role_group rg
                                    JOIN orga_role or2 ON or2.role_group_no = rg.role_group_no
                                    JOIN orga o ON o.orga_no = or2.orga_no
                                    WHERE rg.role_group_use = TRUE
                                    AND rg.role_group_no = #{roleGroupNo}
                                    )
        <if test="userListSearch != null">
        AND (
            dt.dname LIKE CONCAT('%', #{userListSearch}, '%') OR
            em.emp_rank LIKE CONCAT('%', #{userListSearch}, '%') OR
            em.emp_name LIKE CONCAT('%', #{userListSearch}, '%') OR
            em.username LIKE CONCAT('%', #{userListSearch}, '%')
        )
        </if>
    </select>


</mapper>
